.navbar{
    height: 100px;
}
.icons{
    // margin-right: -2000px;
    // gap: .5rem;
    // margin-top: 40px;
    // display: flex;
  
   
    
  
}
.wrapper{
    max-width: 1366px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
   
    margin-top: 40px;

}
img{
    height: 40px;
    width: 40px;
}
.titlenavi{
    margin-left: -200px;
}